@model StajProjesi.Areas.Admin.ViewModels.UsersResetPassword
<link href="~/Content/Create.css" rel="stylesheet" />

@using (Html.BeginForm())
{
    @Html.ValidationSummary()
<div class="simple-login-container">
    <h2> @Model.KullanıcıAdı Yeni Şifre</h2>
    <div class="col-md-12 form-group">

        @Html.TextBoxFor(x => x.Sifre, new { @class = "form-control" , @placeholder = "Yeni Şifre" })
    </div>

    <input type="submit" value="Şifreyi Yenile" class="btn btn-primary" />
    <a href="@Url.Action("Index")">Geri</a>
</div>
        }
